@font-face {
    font-family: "atack";
    src: url('../fonts/Silkscreen/Silkscreen-Regular.ttf');
}
/* *{
    color: rgb(66, 199, 66);
    background-color:transparent;
    font-family: 'Kdam Thmor Pro', Times, sans-serif,'Silkscreen', cursive;
    // font-size: 3rem; 
    margin: 0px;
    padding: 5px;
} */
*{
    /* padding: 0; */
    box-sizing: border-box;

} 

.form-range{
    width:          50px;
}
/* .mb-0{
    padding: 0px 0;
} */

html{
    font-size: 62.5%;
    /* font-size: 1rem; */
    height: 100%;
    background: -webkit-linear-gradient(150deg, #F5C7F7,#27296D);
    background: -webkit-linear-gradient(150deg, #C0FEFC,#04009A);
    /* background: -webkit-linear-gradient(-150deg, # 5%, # 15%,# 30%, # 50%); */
    background: -webkit-linear-gradient(-150deg, #000000 5%, #52057B 15%,#892CDC 30%, #BC6FF1 50%);
    background: -webkit-linear-gradient(-150deg, #27296D 5%, #5E63B6 15%,#A393EB 30%, #F5C7F7 50%);
    background: -webkit-linear-gradient(280deg, #04009A 5%, #77ACF1 15%,#3EDBF0 30%, #C0FEFC 50%);

    /* background-color:#27296D; */
    /* https://www.colorhunt.co/palette/04009a77acf13edbf0c0fefc */
    
    /* background-color: #dfdfe5;
    background: linear-gradient(135deg, #0f147355 25%, transparent 25%) -23px 0/ 46px 46px, linear-gradient(225deg, #0f1473 25%, transparent 25%) -23px 0/ 46px 46px, linear-gradient(315deg, #0f147355 25%, transparent 25%) 0px 0/ 46px 46px, linear-gradient(45deg, #0f1473 25%, #dfdfe5 25%) 0px 0/ 46px 46px; */

    /*background-image: url("../img/profundo.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
}
body, header, main, footer{
    border: 3px red solid;
    min-width: 38rem;
    min-height: 10rem;
    margin: 0.5rem;
}

.headermenubar{
    display: flex;
    height: 10rem;
    background-color: #F88379;
    justify-content:space-between;
    text-align: center;
    justify-items: center;
    align-items:center;  

}
.headermenubar>div{
    width: 15%;
    justify-content: right;
}
.headermenubar>h1{
    width: 15%;
}
#menu>li{
    width: 70%;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    /* display: inline-block; */
    border-radius: 25px;
    border: 2px solid black;
    height: 40px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    align-items:center;  

}
a{
    text-decoration: none;
}

#logo{
    /* margin: 10px 10px 10px 10px; */
    align-items: initial;
    min-width: 2rem;
    max-width: 9rem;
    max-height: 9rem;
}
main{
    min-height: 200px;
    overflow: auto ;
}
main>div{/*div es el hijo de main*/
    border: 2px blue solid;
    min-height: 180px;
    /* min-width: 95%; */
    margin: 0.5rem;
    height: auto;
    width: 65%;
/*cuestionable MUY*/    
    float: left; 
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    /* align-items:  flex-start ; */
}
main>aside{
    border: 2px yellow solid;
    min-height: 180px;
    min-width: 25%;
    max-width: 32%;
    margin: 0.5rem;
    float: left; 
    /* display: inline-block;  no mantiene el margen top*/
    /* display: flex;
    flex-direction: row;
    align-items: flex-end; */
    margin-top: 0px;
    width: auto;
}
aside>img{
    width: 100%; 
    height: 100%;
}
.secciones{
    border: 2px green solid;
    min-height: 50px;
    margin: 0.5rem;
    
}
.secciones article{
    border: 2px purple solid;
    margin: 0.5rem;
    min-height: 20px;
    display: inline-flex;
}
.secciones img{
    width: 20vh; 
    height: 20vh;
}
#principal{
    /* https://www.w3schools.com/cssref/css3_pr_text-shadow.asp */
    /* background-image: url('../img/profundo.jpeg');
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    background-attachment: scroll; */
    color: balck;
    font-weight: 600px;
    font-display: initial;
    text-shadow: 2px 2px 1px gray, 1px 1px 3px whitesmoke; 
    /* text-shadow: 0px 0px 2px red, 0px 0px 6px white; */
}
/* #viagif{
    width: 100vw;
    height: 20vh;
} */

/*
body{
    font-size: 1rem;
}
div{
    font-family: atack, cursive;
    font-size: 1rem;
}
h1{
    color: green;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 50px;    
    text-shadow: 2px 6px 10px rgb(32, 68, 210);
}
p{
    color: brown;
    font-size: 20px;
    font-family: atack, cursiva;
}

a{
    text-decoration: none;
}
 .sinmostrar{
    display: none;
}
.fino{
    color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aquamarine;
}
#nav1{
    height: 200vh;
    width: 30vw;
    // vw y vh o vmin y vmax 
}
#menu, li{
    display: inline-block;
    border-radius: 25px;
    border: 2px solid black;
    height: 40px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
}

#logum{
    height: 10vh;
    width: 10vw;

}

#titulon{
    color:rgb(173, 173, 218);
}
#especial{
    color: black;    
    text-align: justify;
}
#cuadrado{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-radius: 50px;
    padding: 10px;
    border-color: crimson green;
} 

*/
/* 
Agregar color
Forma 1: nombre de ingles
Forma 2: hexadecimal
#FF0000
#RRGGBB

Forma 3


https://htmlcolorcodes.com/es/
https://cssgradient.io/
https://color.adobe.com/es/create/color-wheel

*/